.section {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}

.line {
  flex: 1;
  height: 2px;
  background-color: black;
  margin-left: 10px;
  border-radius: 5px;
}

/* Textfield component */
.search-bar .MuiOutlinedInput-root {
  background-color: #fff; /* Light background for the input */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Light grey border */
}

/* When input field is clicked/focused, border turns blue */
.search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3f51b5; /* Highlight color when focused */
  border-width: 2px; /* Make the border thicker when focused */
}

/* Highlights search events*/
.search-bar .MuiInputLabel-root.Mui-focused {
  color: #3f51b5; /* Highlight color for the label when focused */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .search-bar .MuiOutlinedInput-root {
    height: auto; /* Adjust height for smaller screens */
  }
}




