/* Home */
.home-banner {
  height: 80vh;
}

.home-banner-video-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.home-banner-video-container:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #84bfe276;
}

#home-banner-video {
  position: relative;
  object-fit: cover;
  left: 50;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: 106%;
  z-index: -100;
}

.home-banner-text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90vw;
  height: 50vh;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
}

h1.home-banner-text {
  color: white;
  font-size: 8rem;
}
h2.home-banner-text {
  color: white;
  font-size: 5rem;
}

.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;;
  background-image: linear-gradient(#81E7B3 0%,#84BFE2 40.21%, #84BFE2 95.21%, #8F95E7 100%);
  background-position: center;
  background-size: cover;
  overflow:scroll;
}

.about-content{
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  height: 50vh;
  padding: 1%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}


.animate{
  width: 50%;
  height: 100%;
  margin: 1% auto;
  position: relative;
  overflow: hidden;
}


.animate.partner1{
  background-size: contain;
  background-repeat: no-repeat;
  height: 5rem;
  background-image: url("../../assets/images/UCM+VISTA_LogoHorizontal.png");
}

.animate.partner2{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/Slide7.jpg");
}

@media screen and (max-width: 600px){
  .about-content {
    flex-direction: column;
  }

  .animate{
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  h1.home-banner-text {
    font-size: 4rem;
  }
  h2.home-banner-text {
    font-size: 2.5rem;
  }
}
