/* News.js */

.news-link {
  text-decoration: none;
}

.news-card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.read-more-link{
  color:gray;

}



.news-card {
  display: flex;
  flex-direction: column;
  height: 31rem;
  width: 21rem;
  cursor: pointer;
}

.news-card-author{
  font-size:15px;
}

.author-name::after {
  content: '';
  display: block; 
}

/* Styles for the author's name */
.author-name {
  font-weight: bold; /* makes the name bold */
  color: #333; /* dark grey color for text */
  margin-right: 16px; /* adds a little space between the name and position */
}

/* Styles for the author's position */
.author-position {
  font-style: italic; /* italicizes the position */
  color: #666; /* lighter grey color for text */
  font-style:italic;

}

/* Additional styles for the Typography component that wraps both */
.news-card-author {
  font-size: 15px; /* base font size for both name and position */
  line-height: 1.5; /* adjusts the space between lines */
  margin-top: 5px;
  margin-bottom: 5px; /* space below the author line */
}



.news-card-image {
  height: 40%;
}

.news-card-text {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.news-card-description {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: scroll;
  overflow-x: hidden;
  /* height = (total line height of description / lineheigt of text) * lineheigt of text */
}
