/* All */
.page {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, lightblue);
}

.page-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.page-title.MuiTypography-h4{
  font-weight: bold;
}


/* Navbar.js */

.main-navbar.MuiAppBar-root {
  position: static;
  background-color: white;
  color: black;
  font-weight: bold;
}

/* ChallengeGrants.js */

.paragraph {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.learn-more-button {
  float: right;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 0.6rem;
  color: white;
  padding:0.6rem;
  background-color: #679461;
  border-radius: 2rem;
}

.learn-more-button:hover {
  color: black;
  background-color: orange;
}

/* PeopleCard.js */
.people_card.MuiCard-root {
  width: 18rem;
  height: 23.5rem;
  margin: 0;
}

.people_card .MuiCardMedia-root {
  aspect-ratio: 1/1;
}

.people_card .MuiCardActionArea-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.people_card .MuiCardContent-root {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: max-content;
}

.people_card .MuiTypography-root {
  margin: 0;
}

/* News.js */

.news-card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.news-card.MuiCard-root {
  width: 20rem;
  height: 29rem;

  margin: 2rem;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.news-card-summary {
  height: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-search-bar {
  margin: 2rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
}

/* Contact Us */
.contact-us-container {
  display: flex;
  flex-direction: row;
}

.contact-us-container .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

.main-footer {
  position: absolute;
  top: auto;
  bottom: 0;
  margin-top: 2rem;

  color: black;
  background-color: white;
}

.main-footer * {
  margin-left: 1rem;
}

/* iFrame */
iframe {
  border-style: none;
  aspect-ratio: 9/10;
  width: 100%;
}

@media screen and (min-width: 790px) {
  /* Add  desktop styles here */
  body {
    font-size: 18px;
  }

  /* Navbar.js */

  #hamburger-menu {
    display: none;
  }

  .MuiAppBar-title {
    flex-grow: 1;
  }

  .nav-link {
    margin-left: 1.5rem;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .nav-link:hover {
    color: darkblue;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .logo {
    height: 3rem;
    width: 4rem;
  }
  /* GrantCard.js */

  .grant-card.MuiCard-root {
    width: 50rem;
    height: 20rem;

    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    transition: all 1s ease;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .grant-card .MuiCardMedia-root {
    width: 20rem;
    height: 100%;
    object-fit: cover;
  }

  .grant-card .MuiCardContent-root {
    padding: 0;
  }

  .grant-card .MuiCardContent-root:last-child {
    padding-bottom: 0;
  }

  /* GrantCardModal.js */

  .modal .MuiCardMedia-root {
    height: 100%;
    object-fit: cover;
  }

  .modal-individuals-container {
    display: flex;
    justify-content: center;
  }

  .modal-individuals-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .modal-individuals-profile .MuiCardMedia-root {
    width: 5rem;
    height: 5rem;
    clip-path: circle();
    object-fit: cover;
  }
}


@media screen and (max-width: 789px) {
  /* Add mobile styles here */
  body {
    font-size: 14px;
  }

  /* Navbar.js */

  #hamburger-menu {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  /* GrantCard.js */

  .grant-card.MuiCard-root {
    width: 20rem;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    transition: all 1s ease;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .grant-card .MuiCardMedia-root {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .grant-card .MuiCardContent-root {
    padding: 0;
  }

  .grant-card .MuiCardContent-root:last-child {
    padding-bottom: 0;
  }

  /* GrantCardModal.js */

  .modal {
    display: flex;
    justify-content: center;
  }

  #modal-cover{
    display: none;
  }

  .modal-individuals-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-individuals-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .modal-individuals-profile .MuiCardMedia-root {
    width: 5rem;
    height: 5rem;
    clip-path: circle();
    object-fit: cover;
  }
}
